@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
#header {
    .header-top {
        display: flex;
        align-items: center;
        padding: 15px 0px;
        border-bottom: 1px solid $primary;
        .brand-name {
            img {
                max-width: 180px;
            }
        }
        .social-icon {
            a {
                margin: 0px 5px;
                svg {
                    padding: 8px 9px;
                    color: white;
                    background-color: $primary;
                    border-radius: 50px;
                    &.fa-facebook-f {
                        padding: 8px 11px;
                    }
                }
            }
        }
    }
}
.main-menu {
    transition: all 0.5s ease;
    &.sticky {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #ddd;
        animation: smoothScroll 1s forwards;
        z-index: 999;
    }
    .navbar {
        padding: 5px 0px;
        .navbar-nav {
            .nav-item {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                margin: 0px 5px;
                .nav-link {
                    &.dropdown-toggle{
                        svg {
                            font-size: 12px;
                            transition: all .3s;
                        }
                        &.show {
                            svg {
                                transform: rotate(180deg);
                                transition: all .3s;
                            }
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
                .dropdown-menu {
                    margin: 0;
                    display: block;
                    visibility: hidden;
                    opacity:0;
                    transform: translateY(50px);
                    transition:.5s ease all;
                    margin-top: 4px;
                    border-radius: 0px;
                    border-top: 3px solid $primary;
                    box-shadow: 2px 4px 8px 2px rgba(31,31,31,0.52);
                    padding: 0;
                    &.show {
                        display: block;
                        visibility: visible;
                        opacity:1;
                        transform: translateY(0px);
                        transition:.5s ease all;
                    }
                    .dropdown-item {
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                        padding-top: 8px !important;
                        padding-bottom: 8px !important;
                        color: #666;
                        &:not(:last-child) {
                            border-bottom: 1px solid rgba(100,100,100,.2);
                        }
                        &.active{
                            background-color: transparent !important;
                        }
                        &:active {
                            background-color: #e9ecef !important;
                        }
                    }
                }
            }
            
        }
    }
    .search-box {
        border: 1px solid rgba(100,100,100,.3);
        .form-control {
            border-radius: 0px;
            border: none;
            &:focus {
                border: none!important;
                box-shadow: 0 0 0 0.25rem transparent !important;
            }
        }
        .btn {
            svg {
                color: $primary;
            }
            &:active {
                border: none;
            }
        }
    }
}