@import './_variable';
/*------------ hero slider */
.hero-slider {
    .carousel__item {
        background-image: url("./../../src/assets/images/bg-4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 70vh;
        padding: 50px 0px;
        .carousel-text {
            transform: translate(0%, 70%);
            h2 {
                text-transform: uppercase;
                margin: 10px auto;
                color: white;
                font-weight: 700;
                max-width: 1200px;
            }
            p {
                max-width: 800px;
                margin: 20px auto;
                font-weight: 400;
                color: white;
                text-align: inherit;
            }
        }
        .btn-forsale {
            background-color: $primary;
            padding: 10px 30px;
            color: white;
            margin: 0px 20px;
            font-weight: 600;
            border-radius: 2px;
            border: 1px solid $primary;
            transition: all .3s;
            &:hover {
                background-color: transparent !important;
                border: 1px solid $primary;
                transition: all .3s;
            }
        }
        .btn-forlease {
            background-color: white;
            padding: 10px 30px;
            color: $primary;
            border-radius: 2px;
            margin: 0px 20px;
            font-weight: 600;
            border: 1px solid white;
            &:hover {
                background-color: transparent !important;
                border: 1px solid $primary;
                transition: all .3s;
                color: white;
            }
        }
    }
    .carousel__pagination {
        position: absolute;
        bottom: 10px;
        width: 100%;
        margin: 0;
        padding: 0;
        left: 0;
        .carousel__pagination-button {
            &::after {
                width: 30px;
                height: 10px;
                background-color: $primary;
                border-radius: 5px;
            }
            &.carousel__pagination-button--active {
                &::after {
                    background-color: white;
                }
            }
        }
    }
}

/*--------- service-banner section css --------------*/

.service-banner {
    padding: 50px 0px;
    background-color: $primary;
    .d-flex {
        align-items: center;
        padding: 5px;
        margin-top: 10px;
        .item-img {
            margin-right: 20px;
            img {
                max-width: 100px;
            }
        }
        .item-content {
            h4 {
                font-weight: 700;
                color: $secondary;
            }
            p {
                margin: 0;
                padding: 0;
                font-weight: 500;
                color: white;
            }
        }
    }
}

.ads-banner {
    background-color: #eeefff;
    padding: 50px 0px 50px 0px;
    position: relative;
    .heading {
        max-width: 900px;
        text-transform: capitalize;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 20px;
        h2 {
            font-weight: 600;
        }
    }
    .ads-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -25px;
        width: 100%;
        left: 0;
        *{
            margin: 10px 10px;
        }
        .btn-forsale {
            background-color: $primary;
            padding: 10px 30px;
            color: white;
            margin: 0px 20px;
            font-weight: 600;
            border-radius: 2px;
            border: 2px solid $primary;
            transition: all .3s;
            &:hover {
                background-color: white !important;
                border: 2px solid $primary;
                transition: all .3s;
                color: $secondary;
            }
        }
        .btn-forlease {
            background-color: white;
            padding: 10px 30px;
            color: $primary;
            margin: 0px 20px;
            font-weight: 600;
            border: 2px solid $secondary;
            border-radius: 2px;
            &:hover {
                background-color: #eeefff;
                border: 2px solid $primary;
                transition: all .3s;
                color: $secondary;
            }
        }
        span {
            background: #ffffff;
            line-height: 0;
            padding: 17px 9px;
            border-radius: 50px;
            font-weight: 600;
            color: $primary;
            box-shadow: 0px 0px 2px $gray;
        }
    }
}

/*----------- Recent Project section css -----------------*/
.recent-project {
    padding: 80px 0px 50px 0px;
    .heading {
        display: flex;
        align-items: center;
        h4 {
            font-weight: 600;
            padding-right: 10px;
            display: contents;
            color: $gray;
        }
        .navigation {
            padding-left: 10px;
        }
    }
    .latest-project {
        padding: 20px 0px 20px 0px;
        .carousel__slide {
            display: block;
            .carousel__item {
                text-align: left;
                .project-item {
                    margin: 10px 15px;
                    border: 1px solid rgba(100,100,100,.3);
                    border-radius: 10px 10px 0px 0px;
                    box-shadow: 2px 2px 3px rgb(100 100 100 / 30%);
                    transition: all;
                    .item-img {
                        position: relative;
                        .item-overlay{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(32,32,32,.3);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all .3s;
                            display: none;
                            a {
                                text-decoration: none;
                                color: white;
                                background-color: $primary;
                                padding: 10px 20px;
                                font-weight: 500;
                                text-transform: uppercase;
                                border-radius: 2px;
                                transition: all .3s;
                                font-size: 14px;
                                &:hover {
                                    background-color: #ffffff;
                                    color: $primary;
                                    transition: all .3s;
                                }
                            }
                        }
                        img {
                            border-radius: 10px 10px 0px 0px;
                            width: 100%;
                        }
                    }
                    
                    h4 {
                        font-size: 22px;
                        font-weight: 500;
                        padding: 10px 10px 0px 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        margin-bottom: 0;
                        color: $primary;
                    }
                    p {
                        padding: 5px 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: $gray;
                    }
                    &:hover {
                        .item-img {
                            .item-overlay{
                                display: flex;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
        }
        .carousel__prev, .carousel__next {
            box-sizing: content-box;
            background: var(--vc-nav-background);
            border-radius: var(--vc-nav-border-radius);
            width: var(--vc-nav-width);
            height: var(--vc-nav-height);
            text-align: center;
            font-size: var(--vc-nav-height);
            padding: 0;
            color: $primary;
            display: block;
            position: absolute;
            border: 0;
            cursor: pointer;
            margin: 0 10px;
            top: -35px;
            transform: translateY(-100%);
        }
        .carousel__next {
            right: 20px !important;
        }
        .carousel__prev {
            right: 60px;
            left: auto;
        }
    }

}

/*------------- Home sidebar section css --------------*/

.sidebar {
    padding: 50px  0px;
    .work-faq {
        margin-top: 20px;
        .heading {
            padding-bottom: 20px;
            h4 {
                font-weight: 600;
                padding-right: 10px;
                display: flex;
                align-items: center;
                color: $gray;
               /* &::after {
                    content: "";
                    display: block;
                    width: 70%;
                    margin-left: 20px;
                    height: 1px;
                    background: rgba(100, 100, 100, 0.3);
                }*/
            }
        }
        .accordion {
            display: flex;
            .accrdion-sidebar {
                .accordion-header {
                    width: 250px;
                    margin: 5px 0px;
                    .accordion-button {
                        background-color:rgba(150, 150, 150, 0.1);
                        color: $gray;
                        &::after {
                            display: none;
                        }
                        &:focus {
                            border: none;
                            box-shadow: none;
                        }
                        &:not(.collapsed) {
                            background-color: white;
                            box-shadow: 0px 0px 1px rgb(100 100 100 / 30%);
                            color: $gray;
                        }
                    }
                }
            }
            .accrdion-content {
                margin-left: 20px;
                width: 100%;
                .accordion-item {
                    border-radius: 0;
                    border: none;
                    .icon {
                        margin-right: 20px;
                        i {
                            padding: 15px 16px;
                            font-size: 40px;
                            color: $primary;
                            border: 2px solid $primary;
                            border-radius: 50px;
                        }                    
                    }
                    .title {
                        h2 {
                            font-size: 26px;
                            color: $primary;
                        }
                        h4 {
                            font-size: 18px;
                            color: $gray;
                        }
                    }
                    p {
                        font-size: 16px;
                        margin-top: 20px;
                        color: $gray;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .client-testimonials {
        margin-top: 20px;
        .heading {
            padding-bottom: 20px;
            h4 {
                font-weight: 600;
                padding-right: 10px;
                display: flex;
                align-items: center;
                color: $gray;
            }
        }
        .client-review {
            .carousel__item {
                .review {
                    width: 90%;
                    margin: auto;
                    text-align: left;
                    padding: 20px;
                    border: 1px solid rgba(100,100,100,.3);
                    font-style: italic;
                    position: relative;
                    color: $gray;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                    }
                    .client {
                        margin-left: 20px;
                        h4 {
                            color: $primary;
                            margin-bottom: 0;
                            font-size: 20px;
                        }
                        p {
                            padding: 0;
                            color: $gray;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .carousel__prev, .carousel__next {
                text-align: center;
                font-size: 30px;
                padding: 0;
                color: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                border: 0;
                margin: 0 10px;
                top: -12%;
                transform: translateY(-100%);
            }
            .carousel__next {
                right: 20px !important;
            }
            .carousel__prev {
                right: 50px;
                left: auto;
            }
        }
    }
}

/*--------- Blog Section css -----------*/
.blog {
    padding: 50px 0px;
    background-color: rgb(213 213 213 / 14%);
    .heading {
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
            font-weight: 600;
            padding-right: 10px;
            display: flex;
            align-items: center;
            color: $gray;
            margin: 0;
        }
        a {
            font-size: 14px;
            color: $primary;
            text-decoration: none;
            font-weight: 500;
            i {
                font-size: 12px;
            }
            &:hover {
                opacity: 0.8;
                transition: all .3s;
            }
        }
    }
    .blog-item {
        margin: 10px auto;
        box-shadow: 2px 2px 3px rgb(100 100 100 / 30%);
        .item-image {
            position: relative;
            img {
                border-radius: 5px 5px 0px 0px;
            }
            .date-time {
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $primary;
                color: white;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                line-height: 20px;
                .day {
                    font-size: 22px;
                }
            }
        }
        .content {
            background-color: white;
            padding: 10px 5px;
            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 600;
                color: $primary;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                &:hover {
                    opacity: 0.8;
                }

            }
            p {
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                color: $secondary;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical; 
            }
            
        }
    }
}


@media (max-width: 767.98px) {

    .hero-slider {
        .carousel__item {
            height: 50vh;
            .carousel-text {
                transform: translate(0%, 10%);
            }            
        }
    }

    .sidebar { 
        .work-faq {
            .accordion {
                display: block;
                .accrdion-content {
                    margin-left: 0px;
                    width: 100%;
                    margin-top: 30px;
                    .accordion-item {
                        .icon {
                            i {
                                font-size: 24px;
                            }
                        }
                        .title {
                            h2 {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}