@import './Sass/_variable';



/*------ reset css --*/
body {
    padding: 0;
    margin: 0;
    width: 100%;
    
}
img {
    width: 100%;
    height: auto;
}
ul {
    padding: 0;
    margin: 0;
}

@import'./Sass/__header.scss';







/*-------- footer css -------------*/
@import'./Sass/__footer.scss';


